.side-bar {
  height: 100%;
  width: 70%;
  max-width: 400px;
  background: #2e2d2d;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.side-bar.open{
  transform: translateX(0);
}
.side-bar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
.side-bar li {
  margin: 1.5rem 0;
}
.side-bar ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}